<%- include ('templates/header'); -%>
<h1> Flights</h1>
<div class='container'>
	<div class='leftHolder' id='structure'>
    <div>
      Flight1
      Weather
      Seats Available
      To
      From
    </div>
    <div>
      Flight2
      Weather
      Seats Available
      To
      From
    </div>
    <div>
      Flight3
      Weather
      Seats Available
      To
      From
    </div>
    <div>
      Flight4
      Weather
      Seats Available
      To
      From
    </div>
    <div>
      Flight5
      Weather
      Seats Available
      To
      From
    </div>
    <div>
      Flight6
      Weather
      Seats Available
      To
      From
    </div>
    <div>
      Flight7
      Weather
      Seats Available
      To
      From
    </div>
    <div>
      Flight8
      Weather
      Seats Available
      To
      From
    </div>
  </div>
  <div class='rightHolder' id='structure'>
    <div class='cart'>
      cart
    </div>
  </div>
</div>

<%- include ('templates/footer'); -%>
