<%- include ('templates/header'); -%>
<h1 style='text-align: center'> Welcome to A.D.J. Airlines</h1>
<div class='container'>
  <div class='container0' id='invisible'>
		container0
  </div>
  <div class='container0' id='invisible'>
    Container 1
  </div>
  <!-- <div class='flex-container'> -->
  <div class='container0' id='index3'>
		<div>
			Welcome
		</div>
		<div>
			<button>Login</button>
		</div>
		<div>
      <form action="/signup">
        <button class="btn btn-success">Sign Up</button>
      </form>
		</div>
		<div>
			<button>View Flights</button>
		</div>
	</div>
  <!-- </div> -->
</div>

<%- include ('templates/footer'); -%>
