<%- include ('templates/header'); -%>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="/home">Skimpy Airlines</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
       <li class="nav-item"> <!--nav-item active highlights it-->
          <a class="nav-link" href="/login">Login</a>
       </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/flights">Plan A Flight</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/userflights">My Flights</a>
        </li>
      </ul>
  </div>
</nav>

<div class="container text-center">
  <div class="jumbotron">

  </div>

</div>

<%- include ('templates/footer'); -%>
